extends base.pug

block style
    style 
        include ../static/01_index.css
block scripts 
    script 
        include ../static/01_index.js
block header
    <header>
    <h1>Welcome To Web Warriors Team</h1>
    </header>
block content 
    <main>
        <h2>Objective of Web Warriors</h2>
        <ul>
            <li>Full stack web development </li>
            <li>Built top class projects </li>
            <li>To prepare a team which can participate in the online or offline competitive contests. e.g. Hackathons, G.S.O.C  & much more</li>
            <li>To grab a prestigious internship</li>
            <li>Enhancement of communication skill, confidence</li>
            <li>Representing the P.T.U. at a big level</li>
            <li>Starting coding culture in P.T.U i.e., creating a coding club</li>
            <li>Also start the freelancing business.</li>
        </ul>
        <section>

        </section>
    </main>



