extends base.pug

block style
    style 
        include ../static/02_contact.css
block scripts 
    script 
        include ../static/01_index.js
block content 
    <form action="/contect" method="post">
        <div id="form_heading">
            <h1>Contact Form</h1>
            <p class="p2">Fill all information carefully</p>
        </div>
        <p class="p1">
            <span>
                <p> First_Name : <input type="text" id="sname" name="fname" placeholder="Rana"> </p><br>
                <p>Second_name : <input type="text" id="sname" name="sname" placeholder="Rajput"></p> <br>
                <p>Email : <input type="email" name="email" id="email" placeholder="king@gmail.com"></p> <br>
                <p>Mobile_No : <input type="text" name="phonenum" id="phone" placeholder="8824124578"></p> <br>
                <p>Massage : <br> <textarea name="massage" id="massage" cols="80" rows="20" placeholder="Introduced your self"></textarea></p> <br>
                <p>DOB : <input type="date" name="DOB" id="DOB"></p> <br>
            </span> <br>
            <input type="submit" value="Send"> <input type="reset" value="reset">
        </p>
    </form>






//- <!DOCTYPE html>
//- <html lang="en">

//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>Contact Form</title>
//-     //- <!-- <link rel="stylesheet" href="C:\Users\123ra\OneDrive\Desktop\html_files\01_Programming With Aman\02_css_files\03_contact.css"> -->
//-     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
//-     style 
//-         include ../static/02_contact.css

//- </head>

//- <body>
    //- <form action="" method="post">
    //-     <div id="form_heading">
    //-         <h1>Contact Form</h1>
    //-         <p class="p2">Fill all information carefully</p>
    //-     </div>
    //-     <div class="nav" id="navid">
    //-         <a href="/" target="_blank">Home</a>
    //-         <a href="/contect" target="_blank">contect information</a>
    //-         <a href="/payment" target="_blank" class="login">payment form</a>
    //-         <a href="/about" target="_blank">About Founder</a>
    //-         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    //-             <i class="fa fa-bars"></i>
    //-         </a>
    //-     </div>
    //-     <p class="p1">
    //-         <span>
    //-             <p> First_Name : <input type="text" id="sname" name="fname" placeholder="Rana"> </p><br>
    //-             <p>Second_name : <input type="text" id="sname" name="sname" placeholder="Rajput"></p> <br>
    //-             <p>Email : <input type="email" name="email" id="email" placeholder="king@gmail.com"></p> <br>
    //-             <p>Mobile_No : <input type="text" name="phonenum" id="phone" placeholder="8824124578"></p> <br>
    //-             <p>Massage : <br> <textarea name="massage" id="massage" cols="80" rows="20" placeholder="Introduced your self"></textarea></p> <br>
    //-             <p>DOB : <input type="date" name="DOB" id="DOB"></p> <br>
    //-         </span> <br>
    //-         <input type="submit" value="Send"> <input type="reset" value="reset">
    //-     </p>
    //- </form>

    //- script.
    //-     function myFunction() {
    //-         var x = document.getElementById("navid");
    //-         if (x.className === "nav") {
    //-             x.className += " click";
    //-         } else {
    //-             x.className = "nav";
    //-         }
    //-     }

//- </body>

//- </html>