extends base.pug

block style
    style 
        include ../static/02_contact.css
block scripts 
    script 
        include ../static/01_index.js
block content 
    <form action="/contect" method="post">
        <div id="form_heading">
            <h1>Contact Form</h1>
            <p class="p2">Fill all information carefully</p>
        </div>
        <p class="p1">
            <span>
                <p> First_Name : <input type="text" id="sname" name="fname" placeholder="Rana"> </p><br>
                <p>Second_name : <input type="text" id="sname" name="sname" placeholder="Rajput"></p> <br>
                <p>Email : <input type="email" name="email" id="email" placeholder="king@gmail.com"></p> <br>
                <p>Mobile_No : <input type="text" name="phonenum" id="phone" placeholder="8824124578"></p> <br>
                <p>Massage : <br> <textarea name="massage" id="massage" cols="80" rows="20" placeholder="Introduced your self"></textarea></p> <br>
                <p>DOB : <input type="date" name="DOB" id="DOB"></p> <br>
            </span> <br>
            <input type="submit" value="Send"> <input type="reset" value="reset">
        </p>
    </form>



