extends base.pug

block style
    style 
        include ../static/04_about.css
block scripts 
    script 
        include ../static/01_index.js
block content 
    <h1>This is about page of website</h1>







//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
//-     <title>About</title>
//-     style 
//-         include ../static/04_about.css

//- </head>
//- <body>
//-     <div class="nav" id="navid">
//-         <a href="/" target="_blank">Home</a>
//-         <a href="/contect" target="_blank">contect information</a>
//-         <a href="/payment" target="_blank" class="login">payment form</a>
//-         <a href="/about" target="_blank">About Founder</a>
//-         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
//-             <i class="fa fa-bars"></i>
//-         </a>
//-     </div>
//-     <h1>This is about page of website</h1>

//-     script.
//-         function myFunction() {
//-             var x = document.getElementById("navid");
//-             if (x.className === "nav") {
//-                 x.className += " click";
//-             } else {
//-                 x.className = "nav";
//-             }
//-         }
//- </body>
//- </html>