extends base.pug

block style
    style 
        include ../static/04_about.css
block scripts 
    script 
        include ../static/01_index.js
block content 
    <h1>This is about page of website</h1>





