doctype html 
html
    head 
        title Web Warriors
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        block style
        block scripts 
    body 
        block header
        <div class="nav" id="navid">
        <a href="/" target="_blank">Home</a>
        <a href="/contect" target="_blank">contect information</a>
        <a href="/payment" target="_blank" class="login">payment form</a>
        <a href="/about" target="_blank">About Founder</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        </div>
        block content 
        <footer>
        <a href="#" target="_blank">FAQ</a>
        <a href="#" target="_blank">Contact US</a>
        <a href="#" target="_blank">Terms of use</a>
        <a href="#" target="_blank">Privacy Policy</a>
        <a href="#" target="_blank">Refund Policy</a>
        <a href="#" target="_blank">&copy; 2022 | Programming For Biggners</a>
        </footer>

//- base.pug file is like a trainer, who trained all-files(01_index.pug, 02_contact_form.pug, 03_payment_form.pug, 04_about.pug).