html
  head
    title= title
    style 
      include ../static/demo.css
  body
    html 
      include 04_about.pug
    h1= message
    button#btn(onclick="fun()") Show
    div#IdName.ClassName
      img(src="../static/a1.jpeg" , alt="This is Aman", width="100px")
      p#p1 Hello Above image person name is Er. Aman.
    
    
    script 
      include ../static/demo.js